/* Estilos para el menú */
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilos para los elementos de la lista */
.menu li {
    display: inline-block;
    margin-right: 20px; /* Espacio entre elementos */
}

/* Estilos para los enlaces */
.menu li a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición al pasar el cursor */
}

/* Estilos para los enlaces al pasar el cursor */
.menu li a:hover {
    background-color: #ddd;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para el botón principal */
.dropbtn {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición al pasar el cursor */
}

/* Estilo para el contenido desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo para los enlaces del contenido desplegable */
.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

/* Mostrar el contenido desplegable al pasar el cursor sobre el botón principal */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para la opción desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para el botón principal */
.dropbtn {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

/* Estilo para el contenido desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
}

/* Estilo para los enlaces del contenido desplegable */
.dropdown-content a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

/* Mostrar el contenido desplegable al pasar el cursor sobre el botón principal */
.dropdown:hover .dropdown-content {
    display: block;
}

/*Estilo para las secciones*/

#general-section{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

#general-container{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    margin-top: 3rem !important;
    min-height: 100vh; /*Compras.php */
}

.cotenedor-interno{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjeta{
    margin: 10px;
    width: 20%;
}

.container-compras {
  padding-left: 20px;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------------*/
/*---------------------HEADER----------------------*/

.headercontenedor {

    background-image: url(../Comp\ 1.gif);
    background-repeat: repeat;
    background-size: contain;
    height: 40vh;
  }
  
  .headercontenedor2 {
  
    position: static;
    background-image: url(../Comp\ 1.gif);
    width: 100%;
    min-height: 1500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top ;
  }
  .texto-centrado-top {
    text-align: center !important;
  }

  .texto-centrado-mid{
    margin: 30%;
    text-align: center !important;
  }

.formato1{
    color: #ffffff;
    font-size: 40pt;
}

.formato2{
    font-size: 20pt;
    color: #aaaaaa;
}

main{
  height: 80vh;
}


/*-------------------------------------------------*/
/*--------------------REGISTRO---------------------*/
.register-container {
    width: 80%;
    max-width: 600px; /* Ancho máximo para evitar que el formulario sea demasiado ancho en pantallas grandes */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #222222; /* Fondo del formulario */
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.formulario{
    color: #FFFFFF;
    display: block;
    margin-bottom: 5px;
}

.formulario-input{
    color: #000000;
    display: block;
    margin-bottom: 5px;
}

.titulos{
    color: #ffffff
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ffe7e7;
}

.btn_formulario {
    width: 30%;
    padding: 12px;
    background-color: #F7567C;
    color: #fff;
    border-radius: 70px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.2s ease; /* Transición suave al pasar el cursor sobre el botón */
    display: block; /* Asegura que el botón ocupe todo el ancho disponible */
}

.btn_formulario:hover {
    color: #ff004c;
    background-color: #ffffff; /* Cambio de color al pasar el cursor sobre el botón */
}

#error-message {
    color: red;
    margin-top: 10px;
}


/*-------------------------------------------------*/
/*---------------INICIO DE SESIÓN------------------*/

.signup-link {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.signup-link a {
    color: #ff004c;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/*-------------------------------------------------*/
/*--------------------NAVBAR-----------------------*/

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #F8F7F7;
  }

  .navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-nav .dropdown-menu {
    position: static;
  }
  
  .navbar-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  


.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

#logo img{
    width: 40px; 
    margin-left: 20px;
    margin-right: 20px;
}

.menu{
    margin-left: 5%;
}


.navbar-brand{
    text-decoration: none;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
    transition: 150ms;
  }
  a:hover {
    color: #ff006a;
  }
  
  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }



  .img-cards-size{
    width: 100%;
  }


/*-------------------------------------------------*/
/*--------------------FOOTER-----------------------*/

.enlaces-footer{
    color: #fff;
    cursor: pointer;
  }
  
  .enlaces-footer:hover{
    color: #ff1b50;
    transition: .3s;
  }

/*-------------------------------------------------*/
/*--------------------SLIDER-----------------------*/


.contenedorSlider{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  /*slides*/
  .slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 100ms;
    animation-name: autoplay;
    animation-duration: 10s;
    animation-direction:alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  /*item-slide*/
  .item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    height: 500px;
    width: 100%;
  }
  
  /*pagination*/
  .pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  /*pagination-item*/
  .pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 0 10px;
    transition: all 300ms;
  
  }
  
  .pagination-item:hover{
    transform: scale(2);
    background-color: #ff6c9f;
    border: 1px solid #ffffff
  }
  
  
  
  input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
  }
  
  input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1),0,0);
  }
  
  input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2),0,0);
  }


  #s1{
    background-image: url(../images/s_01.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
    }
    
#s2{
    background-image: url(../images/s_02.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
     }
    
#s3{
    background-image: url(../images/s_03.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
     }



@keyframes autoplay{
    0%{
      transform: translate3d(calc(-100% * 0),0,0);
    }
    35%{
      transform: translate3d(calc(-100% * 0),0,0);
    }
    40%{
      transform: translate3d(calc(-100% * 1),0,0);
    }
    75%{
      transform: translate3d(calc(-100% * 1),0,0);
    }
    80%{
      transform: translate3d(calc(-100% * 2),0,0);
    }
    100%{
      transform: translate3d(calc(-100% * 2),0,0);
    }
  }

/*-------------------------------------------------*/
/*--------------------Terminos/Privacidad-----------------------*/
.tc-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
.tc-heading {
  text-align: center;
}
.tc-content {
  margin-bottom: 20px;
}
.tc-list {
  margin-bottom: 20px;
  padding-left: 20px;
}
.tc-item {
  margin-bottom: 5px;
}
@media only screen and (max-width: 600px) {
  .tc-container {
    padding: 0 10px;
  }
}

.tc-content {
  margin-bottom: 20px;
  font-size: 16px; /* Tamaño de fuente */
  color: #333; /* Color del texto */
}


/*-------------------------------------------------*/
/*--------------------INDEX-----------------------*/
.info-section{
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 0 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.info-item {
  display: flex;
  align-items: center;
  text-align: left;
  flex: 1;
  margin: 0 10px;
}

.info-item img {
  width: 50px; 
  height: auto;
  margin-right: 10px;
  flex-shrink: 0;
}

.info-section2{
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.info-centro{
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.info-centro img {
  width: 50px; 
  height: auto;
  margin-right: 10px;
  flex-shrink: 0;
}

.info-Titulo {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.info-Subtitulo {
  font-size: 0.9em;
  color: #666;
  margin: 0;
}

.interfaz-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.contenedor-index1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;

  margin: 1%;
  background-color: #ff0051;
  text-align: center;
  box-sizing: border-box;
}

.contenedor-index1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .contenedor-index2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 1%;
    box-sizing: border-box;
    background-color: #ffa200;
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
  }
  
  .contenedor-index2 img {
    width: 100%; /* Ajusta la imagen para que ocupe todo el ancho del contenedor */
    height: 100%; /* Ajusta la imagen para que ocupe todo el alto del contenedor */
    object-fit: cover; /* Ajusta la imagen manteniendo su relación de aspecto y recortándola si es necesario */
  }

  .contenedor-index1 img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

  .contenedor-index1:hover img {
    transform: scale(1.2);
}

  .contenedor-index3{
    width: 100%;
    height: 200px;
    background-color: #6f00ff;
  }

  @media (max-width: 768px) {
    .info-section {
      flex-direction: column;
      align-items: center;
    }
  
    .info-item {
      flex: 1 1 100%; 
      margin: 10px 0; 
      text-align: center;
    }
  
    .info-item img {
      margin-right: 10px;
    }

    .contenedor-index1 {
      width: 90%; /* Ancho de los contenedores en pantallas pequeñas */
    }

    .contenedor-index2 {
      width: 90%; /* Ancho de los contenedores en pantallas pequeñas */
    }

    .info-item img {
      transition: transform 0.5s ease;
  }
  
  .zoom-in {
      transform: scale(1.2);
  }
}

  /*--------------------------------------------------------------------------------------------FOOTER-MENU----------------------------*/

  .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .footer-menu li {
    text-align: center;
    position: relative;
  }
  
  .footer-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease;
  }
  
  .footer-menu a:hover {
    color: #ff1b50;
  }
  
  .centered {
    text-align: center;
  }
  
  .centered ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
  }
  
  .centered ul li {
    display: block;
    text-align: center;
  }
  
  .signup-form {
    color: white;
    margin-left: auto; /* Move signup form to the right */
    text-align: center;
  }
  
  .signup-form input,
  .signup-form button {
    height: 38px;
  }
  
  .signup-form input {
    max-width: 200px;
  }
