/* Estilos para el menú */
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilos para los elementos de la lista */
.menu li {
    display: inline-block;
    margin-right: 20px; /* Espacio entre elementos */
}

/* Estilos para los enlaces */
.menu li a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición al pasar el cursor */
}

/* Estilos para los enlaces al pasar el cursor */
.menu li a:hover {
    background-color: #ddd;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para el botón principal */
.dropbtn {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición al pasar el cursor */
}

/* Estilo para el contenido desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo para los enlaces del contenido desplegable */
.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

/* Mostrar el contenido desplegable al pasar el cursor sobre el botón principal */
.dropdown:hover .dropdown-content {
    display: block;
}



/* Estilos para la opción desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para el botón principal */
.dropbtn {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

/* Estilo para el contenido desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
}

/* Estilo para los enlaces del contenido desplegable */
.dropdown-content a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

/* Mostrar el contenido desplegable al pasar el cursor sobre el botón principal */
.dropdown:hover .dropdown-content {
    display: block;
}

.texto-centrado-top {
    text-align: center !important;
  }

  .texto-centrado-mid{
    text-align: center !important;
  }

.formato1{
    color: #ffffff;
    font-size: 40pt;
}

.formato2{
    font-size: 20pt;
    color: #aaaaaa;
}

.headercontenedor{
    height: 25vh;
}


/*Estilo para las secciones*/

#general-section{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

#general-container{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    margin-top: 3rem !important;
}

.cotenedor-interno{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjeta{
    margin: 10px;
}


/*-------------------------------------------------*/
/*---------------------HEADER----------------------*/



.headercontenedor {

    background-image: url(../Comp\ 1.gif);
    background-repeat: repeat;
    background-size: contain;
    min-height: 300px;
  }
  
  .headercontenedor2 {
  
    position: static;
    background-image: url(../Comp\ 1.gif);
    width: 100%;
    min-height: 1500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top ;
  }




/*-------------------------------------------------*/
/*--------------------REGISTRO---------------------*/
.register-container {
    width: 80%;
    max-width: 600px; /* Ancho máximo para evitar que el formulario sea demasiado ancho en pantallas grandes */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #222222; /* Fondo del formulario */
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.formulario{
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}

.formulario-input{
    color: #000000;
    display: block;
    margin-bottom: 5px;
}

.titulos{
    color: #ffffff
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ffe7e7;
}

.btn_formulario {
    width: 30%;
    padding: 12px;
    background-color: #ff004c;
    color: #fff;
    border-radius: 70px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.2s ease; /* Transición suave al pasar el cursor sobre el botón */
    display: block; /* Asegura que el botón ocupe todo el ancho disponible */
}

.btn_formulario:hover {
    color: #ff004c;
    background-color: #ffffff; /* Cambio de color al pasar el cursor sobre el botón */
}

#error-message {
    color: red;
    margin-top: 10px;
}


/*-------------------------------------------------*/
/*---------------INICIO DE SESIÓN------------------*/



.signup-link {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.signup-link a {
    color: #ff004c;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
